body {
    overflow: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    min-height: 100vh;
    width: 100%;
    color:#000;
    background-color: white;
    font-family: 'Avenir Next', sans-serif;
    hyphens: auto;
}

h1{
    font-style: normal;
    text-transform: none;
}

h2{
    font-style: normal;
    text-transform: none;
    text-decoration: normal;
    font-weight: normal;
    font-size: large;
    margin: 0;
}

p{
    text-align: block;
    justify-content: center;
}

a{
    color:#777
}

ul{
    margin: 0;
}

.header{
    margin-bottom: 20px;
    text-align: center;
}

.header a{
    text-decoration: none;
    font-style: normal;
    color:#000
}

.header label{
    display: none;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    text-underline-offset: .5em;
    margin: 0;
    padding: .5em 1em .5em 1em;
    font-size: 16px;
    text-align: center;
    color: #777;
}

.header input[type=checkbox]{
    display: none;
}

.header label:hover {
    text-decoration: underline;
    color:#000;
}

.logo{
    font-family: 'Avenir Next', sans-serif;
    text-align: center;
    display: block;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    padding: 0px;
    color:#000;
    background-color: #fff;
}

#navbar-toggle-checkbox:checked ~ .navbar {
    display: flex;
}

.navbar{
    display: block;
    justify-content: center;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    text-underline-offset: .5em;
    color: #777;
    padding: 0;
    margin: 0 10% 0 10%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    display: inline-block;
    padding: .5em 1em .5em 1em;
    color:#777;
    font-size: 16px;
}

.navbar a.active, .navbar a:hover:not(.active){
    text-decoration: underline;
    color: #000;
}

.portrait{
    display: flex;
    justify-content: center;
    margin: 5em 10% 2em 10%;
}

.portrait img{
    width: 50%;
    height: 50%;
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px;
    object-fit: contain;
    border-radius: 50%
}

.text{
    text-align: block;
    text-justify: inter-word;
    font-size: 14px;
    margin: 2em 10% 2em 10%;
    flex: 1;
}

.footer{
    display: flex;
    justify-content: center;
    margin: 20px 10% 0 10%;
    padding: 5px;
    border-top: solid;
    border-top-color: #777;
    border-top-width: 1px;
    font-size: 16px;
}

.timestamp {
    display: flex;
    justify-content: center;
    font-family: 'Avenir Next', sans-serif;
    padding: 5px;
    font-size: 10px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-family: 'Avenir Next', sans-serif;
    padding: 5px;
    font-size: 10px;
}

.fa, .fab, .ai {
    padding: 10px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #777;
    font-style: normal;
}
  
.fa:hover, .fab:hover {
    color: #777;
    opacity: 0.7;
}

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 10% 0 10%;
    padding: 0px;
    width: 80%;
    flex: 1;
}

.left-column{
    flex: 1;
}

/* -------- arXiv feed --------- */

#arxivfeed {
    flex: 0;
    justify-content: center;
    margin: 2em auto;
    padding: 0 50px 0 50px;
}

#arxivcontainer {
    min-height: 300px !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white !important;
}

#arxivcontainer > #feedtitle {
    background-color: #a52c25 !important;
    color: white !important;
}

#arxivcontainer > #feedtitle a {
    color: white !important;
    text-decoration: none !important;
}

#arxivcontainer > #feedtitle:last-of-type {
    margin-top: auto; /* push footer to bottom if space available */
}

#arxivcontainer .entry {
    font-size: 14px !important; /* sets default for the block */
    padding-top: 1em !important;
}

#arxivcontainer .entrytitle {
    font-size: 14px !important;
    font-weight: bold;
}

#arxivcontainer .entryauthors {
    font-size: 14px !important;
    font-style: italic;
}

/* -------------------------- */

.cv {
    text-align: block;
    font-size: 14px;
    margin: 2em auto 2em auto;
    width: 80%;
    max-width: 700px;
}

.cv-title {
    text-align: center;
    text-transform: none;
    font-style: italic;
    font-weight: normal;
    font-size: 2.5em;
    margin: 0;
}

.cv-section {
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 20px;
}

.cv-subsection {
    text-align: left;
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.cv-item {
    margin-bottom: 0px;
}
.cv-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cv-item-title {
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cv-item-period {
    color: grey;
    font-size: 0.9em;
}
.cv-item-location {
    align-items: left;
    display: flex;
    margin-top: 0px;
    margin-bottom: 5px;
    font-style: italic;
}
.cv-item-description {
    margin-top: 0px;
}


@media (max-width: 600px) {
    .header label{
        display: inline-block;
    }
    .navbar ul{
        flex-direction: column;
    }
    .navbar{
        display: none;
        flex-direction: column;
        border-top: 1px solid #777;
        border-bottom: 1px solid #777;
    }
    .two-column{
        flex-direction: column;
    }
    .portrait img{
        width: 80%;
        height: 80%;
    }

    #arxivfeed {
        width: 100%;
        padding: 0;
    }

    #arxivcontainer {
        width: 100% !important;
    }

    #arxivcontainer .entry {
        width: 95% !important;
    }
}

@media (prefers-color-scheme: dark) {
    body, .logo, .header a, .header a.active{
      background:#000;
      color:#fff;
    }
    .navbar a.active, .navbar a:hover:not(.active), .header label:hover{
        color:#fff;
        background-color:#000;
    }
    .navbar a, .header label{
        color:#777;
        background-color: #000;
    }
}